---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Gavin Elliott - Design Leader and Speaker"
	pubDate={new Date('August 08 2021')}
>
	<p>
		I'm Gavin Elliott, an experienced design leader and speaker.
	</p>

	<p>
		I currently work as the chief design officer at Scrumconnect where I spend the majority of my time leading design teams and supporting organisations to deliver great products and services.
	</p>

	<p>
		Before Scrumconnect I was a design leader at Shopify, the UK's Health Security Agency and the UK's Department for Work and Pensions.
	</p>

	<p>
		I enjoy using my skill and experience of solving complex problems in simple ways balancing strategy and practicality. I'm passionate about establishing, embedding and growing user-centred design within organisations as well as leading design teams on their personal and professional journeys.
	</p>

	<p>
		On the side, I speak regularly about Impostor Syndrome, good design and building design teams.
	</p>

	<p>
		To get in touch, drop me a message through one of the icons in the top right.
	</p>
</Layout>